torch==2.3.0+cu118  
torchvision==0.18.0+cu118 

monai==1.3.0  

numpy==1.26.4 
pandas==2.2.1  
scikit-learn==1.4.2  

opencv-contrib-python==4.9.0.80 

matplotlib==3.8.3 

seaborn==0.13.2 

tensorboard==2.17.0  

optuna==3.6.1  

tqdm==4.66.2  

medpy==0.5.1  

nibabel==5.2.1  